.home{
    background-color: rgb(184, 221, 218);
   
}

#btnid{
    background-color: rgb(3, 78, 107);
    border: none;
    border-radius: 25px; 
    color: black;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

#btnid:hover{
    background-color: rgb(26, 76, 243);
    border-radius: 25px;  
    color: rgb(246, 250, 250);
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

.bgImage {
    width: 100%;
    height: auto;
  }

@media (max-width: 525px) { /* Extra small devices */
    .bgImage {
      width: 100%;
      height: 400px;
      margin-bottom: 200px;
      margin-top: 50px;
    }
  }

